@charset "UTF-8";
html{
	color: #3E3E40;
	font-family:'Helvetica','josefin-sans';
	background:rgb(255, 247, 240);
}
*{
	margin: 0;
	padding:0px;
}
a{
	text-decoration: none;
	color: #3E3E40;
}
img{
	border-radius: 2px;
}
header{
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
	width: 100%;
	height:85px;
	max-width: 92.5%;
	display: flex;
	position: fixed;
	margin-left: 48px;
	margin-right: 48px;
	align-items: center;
	border-bottom: 1px solid #3e3e4049;
	background:rgb(255, 247, 240);
	z-index: 40;
}
.header-left{
	display: flex;
	padding: 8px;
	margin-top: auto;
	margin-bottom: auto;
	list-style-type: none;
}
.nav-link{
	color: #3E3E40;
	display:flex;
	margin-left : auto;
	margin-right: auto;
	padding: 16px 16px ;
	transition : border .5s 0s ease-in ;
	border-left: 5px solid rgb(255, 247, 240);
	
}
.nav-link:hover{
	color:#754F2A;
	border-left: 5px solid #754F2A;
}
.header-logo{
	display: block;
	margin: auto;
	padding-top: 5px;
	padding-right: 110px;
}
.header-right{
	display: flex;
	margin-top: auto;
	margin-bottom: auto;
	padding: 8px;
}
.nav-link2{
	color: #3E3E40;
	text-decoration:none;
	display:inline-block;
	margin-top: auto;
	margin-bottom: auto;
	padding: 8px;
}
.nav-link2:hover{
	color:#754F2A;
}
main{
	padding-top: 86px;
}
.img-about{
    width: 92.5%;
	margin-left: 48px;
	margin-right: 48px;
	border-radius:2px
}
section{
	margin-left: 48px;
	margin-right: 48px;
	margin-top: 20px;
	margin-bottom: 50px;
}
h1{
	font-size: 25px;
	letter-spacing: 3px;
    text-align: left ;
    margin-left: auto;
    margin-right: auto;
	padding-left: 30px;
	color: rgb(255, 247, 240);
    color: #ffffff;
}
.h3{
	font-size: 20px;
	letter-spacing: 4px;
	text-align: left;
	text-size-adjust: 4px;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 8px ;
	
}
.div-about{
	display: flex;
	margin: auto;
	align-items: flex-start;
	margin-top:30px;
}
.about-img{
	display: block;
	border-left:10px solid #3E3E40;
	padding-left: 20px;
	height:230px;
}
.about-img img{
	margin-top: 35px;
	margin-left: 10px;
	border-radius: 5px;
}
.about-content{
	display: block;
	padding-left: 20px;
	padding-right:20px;
}


h2{
	font-size: 20px;
	letter-spacing: 4px;
	text-align: center;
	text-size-adjust: 4px;
	margin: auto;
	margin-top: 10px;
	padding-bottom: 8px ;
	padding-left: 50px;
}



.hand-color{
	background-color: #754F2A;
}
.hand-div{
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	background-color: rgb(255, 233, 213) ;
	margin-left:auto;
	margin-right: auto;
	margin-top:20px;
	padding: 20px;
	border-radius: 5px;
	max-width: 70%;
}
.hand-img{
	display: block;
	padding-left: 20px;
}
.hand-img img {
	margin-left: 10px;

}
.hand-content{
	display: block;
	text-align: center;
	line-height: 30px;
	padding-top:10px;
	padding-left: 20px;
	padding-right:20px;
}
.menu-div{
	display: flex;
	flex-direction: column;
	background-color: rgb(255, 233, 213) ;
	margin-left:auto;
	margin-right: auto;
	margin-top:20px;
	padding: 20px;
	border-radius: 5px;
	max-width: 70%;
}
.menu-div img{
	display: block;
	align-items: center;
}
.menu-img{
	margin-left: auto;
	margin-right: auto;
}
.menu-content{
	display: block;
	text-align: left;
	line-height: 30px;
	margin-left:50px ;
	margin-right:50px ;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
}

.apron-div{
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	background-color: rgb(255, 233, 213) ;
	margin-left:auto;
	margin-right: auto;
	margin-top:20px;
	padding: 20px;
	border-radius: 5px;
	max-width: 70%;
}
.apron-img{
	margin-top:auto;
	margin-bottom:auto;

}
.apron-content{
	display: block;
	text-align: left;
	line-height: 30px;
	padding-top:10px;
	padding-left: 20px;
	padding-right:20px;
}
.boss-img{
	display: flex;
	align-items: flex-start;
	flex-wrap: nowrap;
	background-color: rgb(255, 233, 213) ;
	margin-left:auto;
	margin-right: auto;
	margin-top:20px;
	padding: 20px;
	border-radius: 5px;
	max-width: 70%;
}
.boss-img img{
	margin-right: auto;
	margin-left: auto;
}
.img01{
	padding-left: 40px;
}
.img02{

	padding-right: 40px;
}
footer{
	border-top: 1px solid #3e3e4049;
	font-size: 15px;
	letter-spacing: 1px;
	width:auto;
	height:220px;
	display: flex;
	justify-content: center;
}
.footer-left{
	margin :auto;
}
.footer-right{
	display: flex;
	margin : auto;
	margin-left: 45px;
	padding: 30px;
	line-height: 30px;
}
.footer-right p{
	font-size: 18px;
	letter-spacing: 3px;
}
.footer-info{
	display: block;
	list-style: none;
	max-width: 53%;
}
.tel{
	margin-top: 10px;
}
.add{
	margin-left: 30px;
	padding-right: 30px;
}
.ig{
	margin:auto;
	margin-left: 45px;
}
.ig :hover{
	transform: scale(1.15);
	transition:0.5s;
}